<div class="container">
  <% if !flash[:alert].nil? %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>
	<div class="well text-center">
	<h2>순서 확인 페이지입니다.</h2>
	<p>자신의 차례를 확인해주세요!</p>
	</div>
<div class="panel panel-default">
<p> 여기에데이터뜰꺼임</p>

</div>
</div>
