
<div class="container">
  <% if !flash[:alert].nil? %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>
	<div class="well text-center">
			<h2>자동차 등록 페이지입니다.</h2>
			<p>자신의 자동차를 등록하세요!</p>
	</div>


<form action="/main/regist_complete" method ="post">
	<label for="basic-url">이름</label>
	<div class="input-group-lg">
		<input type="text" name="username" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="이름을 입력하세요.">
	</div	>
<br>
	<label for="basic-url">전화번호</label>
	<div class="input-group-lg">
		<input type="text" name="phone" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="000-0000-0000">
	</div	>
<br>
	<label for="basic-url">자동차 이름</label>
	<div class="input-group-lg">
		<input type="text" name="carname" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="자동차 이름을 입력하세요.">
	</div	>

<br>
	<label for="basic-url">자동차 이름</label>
	<label for="basic-url">사진</label>
	<div class="input-group-lg">
		<input type="text" name="image" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="첨부파일을 선택하세요.">
	</div	>
	<br>
	<button type="submit" class="btn btn-default btn-lg">
	등록하기
</button>
</form>
</div>
