<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">

<style>
.container{
margin-top:20px;
}

a{
font-family: 'Press Start 2P', cursive;
font-size:17px;
color:#ffffff;
}
</style>

<div class="container">
  <a href="/">NerdyDeryby</a>&nbsp;&nbsp;&nbsp;
	<a href="/main/regist">Regist</a>&nbsp;&nbsp;&nbsp;
	<a href="/main/before_admin">Admin</a>
	</div>
